@mixin btn {
  font-size: 15px;
  width: 158px;
  height: 33px;
  border: 2px solid $grey;
  color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
  }
}

.btn-grey {
  @include btn;
}

.btn-green {
  @include btn;
  border-color: $green;
  color: $green;
}

.btn-white {
  @include btn;
  border-color: $white;
  color: $white;
  width: 138px;
  height: 33px;
  &:hover {
    color: $white;
    opacity: .8;
  }
}
