.is-act-home {
  .breadcrumb {
    display: none;
  }
  .container-main {
    padding-top: 0;
  }
  .cms-section.pos-0 {
    padding: 0 40px;
    .cms-element-text {
      position: relative;
      min-height: 768px;
      .banner-home-text {
        position: absolute;
        top: 47%;
        transform: translate(-27%, -47%);
        left: 27%;
        h1 {
          font-size: 81px;
          color: #fff;
          line-height: 70px;
          margin-bottom: 30px;
        }
        p {
          color: #fff;
        }
        .btn-white {
          margin-top: 30px;
        }
        .arrow-button {
          position: absolute;
          bottom: -168px;
        }
      }
    }
  }
}
